
<div id="addMessageForm" class="well span6">
        <h5 id="addMessage">
            Add New Message
        </h5>
            <fieldset data-role="controlgroup" data-mini="true">
                <label for="subject">
                    Subject
                </label>
                <input type="messageText" id="subject" name="subject" placeholder="Enter Subject Title ..." >
            </fieldset>
            <fieldset data-role="controlgroup">
                <label for="messageText">
                    Message
                </label>
                <textarea name="message" id="messageText" placeholder="Enter Your Message Here ..."></textarea>
            </fieldset>
        <input id="addMessageSubmit" type="submit" data-theme="c" data-icon="arrow-r"
        data-iconpos="right" value="Apply Message">
</div>